@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Luxurious+Roman&family=Silkscreen&display=swap');

body {
    background-color: #e52521;
    margin: 0;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #e52521;
    justify-content: space-between;
    
}

.logo {
    color: white;
    font-family: 'Silkscreen';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    border: 3px solid white;
    height: 40%;
    flex-shrink: 0;
}

.links {
    flex: 1 1 0;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-family: 'silkscreen';
    height: 100%;
    align-self: center;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin-left: 0;
}

#container_1 {
    background-image: url(images/mario_background.png);
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    height: 450px;
    padding: 50px;
    background-size: cover;
    
}


#container_1_left {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    color: black;
    align-self: center;
    max-width: 400px;
    height: 230px;
    flex-shrink: 0;
}

#undertext {
    font-size: 15px;
    color: black;
    flex-shrink: 0;
    min-height: 0;
    min-width: 0;
}

.button {
    width: 70px;
    max-height: 30px;
    background-color: #e52521;
    color: white;
    text-align: center;
    flex-shrink: 0;
    min-height: 0;
    min-width: 0;
    border-radius: 25%;
}

#container_1_right {
    align-self: center;
    max-width: 400px;
    height: 250px;
    flex: 1 1 80%;
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;

}

#landscape {
    height: 100%;
    width: 100%;
    border-radius: 20%;
}

#container_2 {
    background-color: #43b047;
    max-width: 100%;
    display: flex;
    flex-direction: column;

}

#container_2_top {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;



}

#text {
    font-size: larger;
    font-weight: 700;
    height: 25px;
    text-align: center;
}

#container_2_bottom {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 25px;
}

#mario {
    background-image: url(images/mario.png);
    background-size: cover;
}

#luigi {
    background-image: url(images/luigi.jpeg);
    background-size: cover;
}

#peach {
    background-image: url(images/peach.jpeg);
    background-size: cover;
}

#yoshi {
    background-image: url(images/yoshi.jpeg);
    background-size: cover;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 250px;
}

#subtext {
    text-align: center;
    min-height: 0;
    flex: 1 1 0;
    font-family: 'silkscreen';
}

#container_3 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
    max-width: 100%;
    background-color: #FBD000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    width: 60%;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin-bottom: 5px;
    background-color: #F4F3F4;
}

#context {
    font-size: 24px;
    font-weight: bold;
    min-width: 0;
    flex: 1 1 0;
    text-align: end;
    
}

#container_4 {
    max-width: 100%;
    height: 400px;
    background-color: #F4F3F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/background.jpeg);
    background-size: cover;
}

#inner {
    width: 70%;
    height: 200px;
    background-color: #e52521;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    opacity: 90%;
}

#left {
    color: white;
    background-color: #e52521;
    width: 40%;
    height: 50px;

}


#right {
    min-width: 0;
    flex: 1 1 0;
    max-width: 20%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

#bottom {
    width: 100px;
    max-height: 40px;
    background-color: #049cd8;
    color: white;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 15%;
    border: 2px solid white;
}

#footer {
    background-color: #e52521;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
    font-size: medium;
    display: flex;
    justify-content: space-around;
}


#footer div {
    display: flex;
    align-items: center;
}
