body {
    background-color: darkcyan;
    margin: 0;
  
}

#page-container {
    position: relative; 
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  

header {
    background-color: white;
    height: 3em;
    width: 100%;
    margin-bottom: 0;
}

#container_1 {
    background-color:antiquewhite;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 300px;
    padding: 50px;
    
    
}

#container_1_left, #container_1_right {
    border: 1px solid black;
    align-self: center;
    background-color:cadetblue;
    width: 500px;
    height: 150px;
}

#container_2 {
    background-color: burlywood;
    height:500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
   
}

#container_2_top{
    max-width: 100%;
    height: 100px;
    background-color: white;
    
    
    display:flex;
    align-items:center;
    justify-content:center;
    
    
    
}

#text {
    font-size: larger;
    font-weight:700;
    height:25px;
    text-align: center;
}

#container_2_bottom {
    background-color: white;
    height: 800px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
    
    
    
    
}

.box{
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 25px;
    

    
}

.boxes {
    display:flex; 
    flex-direction:column; 
    justify-content: center; 
    width:150px; 
    height:250px;
}

#subtext {
    text-align: center; 
    min-height:0; 
    flex: 1 1 0;
}

#container_3 {
    height: 400px;
    max-width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#quote {
    
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937 ;

}

#context {
    font-size: 24px;
    width: 800px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}



#footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    font-size: medium;
    display: flex;
    justify-content: space-around;
}


#footer div {
    display: flex;
    align-items: center;
}
